/* TOP BAR */

.topbar{
    box-shadow: 0 6px 20px rgba(0,0,0,.16) !important;
    background-color: #f6f6f6 !important;
    padding-left:20px;
    color: $main-color;
    height: 60px;
}

.topbar-item{
    padding-left:30px;
}

.social-icon{
    padding:5px;
}

.social-icons{
    padding-right:50px;
    display:inline-block;
    text-align:right;
}

.social-icons a{
    color:$main-color;
}

/* END TOP BAR */

/* BOTTOM BAR */

.active a{
    color:$main-color !important;
}

.bottombar{
    background-color:white !important;
}

.menu-item{
    margin-left:20px;
    font-weight: bold;
    font-size:20px;
    text-transform: uppercase;
    font-weight: 600;
}

.logo{
    padding:0 50px 0 50px;
}

.main-menu{
    margin-left: auto;
}

.shopping{
    padding-right:50px;
}

.shopping-cart{
    text-align:center;
    padding:10px 13px 10px 13px;
    border-radius:50%;
    background-color:$main-color;
    color:white;
    cursor:pointer;
}

.shopping-items-number{
    text-align:center;
    padding:2px 5px 2px 5px;
    border-radius:50%;
    background-color:green;
    color:white;
    cursor:pointer;
    font-size:10px;
    font-weight: bold;
    margin-left:-8px;
    margin-bottom:-10px;
}


/* END BOTTOM BAR */