body {
    overflow-x: hidden;
}

/* SIDEBAR */

.sidebar{
    padding-top:6%;
    position:fixed;
    width:20%;
    height:100%;
    background-color:#444;
}

.sidebar-header{
    color:white;
    font-family: 'Nunito';
    font-size:25px;
    text-align:center;
    padding-bottom:5%;
}

.sidebar ul{
    padding:0px;
    border-top:1px solid #666;
}

.items ul li{
    padding:10px;
    list-style-type: none;
    color:white;
    border-bottom:1px solid #666;
    margin:0px;
}

/* END SIDEBAR */